.lul__card {
	width: 250px;
	margin: 20px;
	border-radius: 20px;
	height: 360px;
}
.lul__card-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.lul__card-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 10px 20px 10px;
	position: relative;
	z-index: 9;
}

.lul__card-image img {
	width: 100%;
	height: 210px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.lul__card-info > .lul__glassButton {
	margin: 0 auto;
}

.lul__card-info__title {
	font-size: 1rem;
	font-weight: 700;
	color: var(--primary-text-color);
	text-align: center;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.lul__card-info__button {
	position: relative;
}
.lul__card-wrapper__decoration {
	position: absolute;
	width: 150px;
	height: 150px;
	overflow: hidden;
	bottom: 0;
	right: 0;
}
.lul__card-wrapper__decoration::after {
	content: "";
	position: absolute;
	top: -80%;
	left: 20px;
	width: 180px;
	height: 180px;

	border-radius: 50%;
	box-shadow: 0px 4px 25px 0px rgba(105, 105, 105, 0.25);
}
