.lul__navbar {
    background-color: var(--background-color-nav);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.lul__navar-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lul__navbar-elements_logo img {
    max-width: 250px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .lul__navbar-elements_logo img {
        margin-top: 10px;
        max-height: 60px;
    }
    .lul__navbar {
        padding: 0 1rem;
    }
}

.lul__navar-elements > .lul__search {
    margin-left: 3rem;
}

@media screen and (max-width: 768px) {
    .lul__navar-elements > .lul__search {
        display: none;
    }
    .lul__navbar > .lul__cta {
        display: none;
    }
}
