.lul__freeGameDetails-top {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	font-weight: 700;
}
.lul__freeGameDetails-top p {
	margin-right: 1rem;
}

.lul__freeGameDetails {
	position: relative;
	z-index: 2;
	width: 65%;
	color: var(--secondary-text-color);
}

.lul__freeGameDetails-requirements,
.lul__freeGameDetails-requirements h4 {
	margin: 1rem 0;
}

.sticky-button {
	position: fixed;
	background-color: var(--bakground-color-1);
	padding: 1rem 2rem;
	color: var(--primary-text-color);
	border-radius: 20px;
	bottom: 20px;
	left: 50%;
	box-shadow: var(--box-shadow);
	font-weight: 700;
	transform: translate(-50%, 0);
}
