* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-size: 1rem;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: unset;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
h4 {
    font-size: 1.25rem;
    font-weight: 500;
}
.full-width {
    width: 100%;
}

.secondary-text {
    font-size: 0.75rem;
}

.input-text {
    font-size: 1rem;
    font-weight: 700;
}

.section__padding {
    padding: 2rem;
}

.section__margin {
    margin: 2rem;
}

.app__body {
    display: flex;
    flex-direction: row;
}

.lul__home-container {
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
.lul__searchResults {
    display: flex;
    flex-wrap: wrap;
}

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}
@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
